		<nav id="nav">
			<ul>
				<li><a href="{{ site.baseurl }}/">Home</a></li>
				<li><a href="#">About</a>
					<ul>
						<li><a href="{{ site.baseurl }}/about">About us</a></li>
						<li><a href="{{ site.baseurl }}/about/our-story/">Our story</a></li>
						<li><a href="{{ site.baseurl }}/about/trustees/">Trustees</a></li>
						
						</ul>
						</li>
				<li><a href="{{ site.baseurl }}/good-hope-school">Good hope school</a></li>
				<li><a href="{{ site.baseurl }}/get-involved">Get involved</a></li>
				<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
				
				<li><a href="/contact" class="button">Contact us</a></li>
			</ul>
		</nav>

